# Template IPYNB.ypa

# Nom_Sujet
## Thème_à_traiter

**Helper**
Texte ici

**Exercise**
Texte ici

**PlusPLus**
*Néant*

## OUT
*copy_output_for_help*

# Exercise PANDAS from SCHUTZ course SIMPLON Ecole IA Microsoft by Simplon
# OBJECTIF : Initiation PANDAS

## Chargement des données
**Helper**
Documentation de la techno

**Exercise1**
Importer la lib Pandas (after pip install)
Assigner l'url du fichier CSV
Utiliser `.read_csv()`, méthode pandas pour lire le fichier CSV
Utiliser `.head()`, méthode pandas pour afficher la tête du DataFrame `df`

In [ ]:
import pandas as pd

#! charger le fichier CSV depuis le lien
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
titanic_df = pd.read_csv(url)

print(titanic_df.head())

## OUT
```python
   PassengerId  Survived  Pclass  \
0            1         0       3   
1            2         1       1   
2            3         1       3   
3            4         1       1   
4            5         0       3   

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1   
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1   
2                             Heikkinen, Miss. Laina  female  26.0      0   
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1   
4                           Allen, Mr. William Henry    male  35.0      0   

   Parch            Ticket     Fare Cabin Embarked  
0      0         A/5 21171   7.2500   NaN        S  
1      0          PC 17599  71.2833   C85        C  
2      0  STON/O2. 3101282   7.9250   NaN        S  
3      0            113803  53.1000  C123        S  
4      0            373450   8.0500   NaN        S  

```

## Exploration des données
**Helper**
Pour trouver le nombre de passager on compte le nombre de ligne
Pour le pourcentage de survivant, on compte combien ont survécu, puis on divise le total par le total des passagers, le tout multiplié par 100

**Exercise2**
Utiliser `len(nom_dataframe)` pour récupérer la longueur de la `df`, équivalent aux nombres total de passagers dans le cas
Utiliser `nom_df["nom_colonne"]` pour accéder à une colonne de la `df`
Utiliser `.sum()` pour additionner (sommer) toute data récupérée
Enfin, simple opérations mathématique pour le pourcentage

In [ ]:
total_passengers = len(titanic_df)
print(f"Nombre total de passager : {total_passengers}")

total_survived = titanic_df["Survived"].sum()
print(f"Nombre de survivants : {total_survived}")

percent_survived = int((total_survived / total_passengers) * 100)
print(f"Pourcentage des passagers qui ont survécu : {percent_survived} %")

## OUT
```python
Nombre total de passager : 891
Nombre de survivants : 342
Pourcentage des passagers qui ont survécu : 38 %

```

## Analyse des données
**Helper**
Calculer l'âge moyen des passagers (mean), la colonne `Age` contient l'âge des passagers.
Trouver l'âge le plus fréquent (mode)
Note : Il y a probablement des valeurs manquantes (NaN) dans cette colonne. Pandas les ignore automatiquement lorsqu'on utilise `mean()`.

**Exercise3**
Utiliser la méthode `mean()` pour calculer la moyenne.
Utiliser la méthode `mode()` de Pandas, qui retourne la ou les valeurs les plus fréquentes dans la colonne.

**PlusPLus**
Utiliser un formatage de la data `passengers_mean_age` pour afficher 2 chiffres après la virgule `29.70`
Utiliser `passengers_mean_age` (data à formater), `:` (introduit le format spécifié), `.2` (nombre de décimal), `f` (signifie que la valeur à afficher est un `float`)
C'est utile pour rendre les valeurs numériques plus claires et cohérentes, surtout quand tu travailles avec des résultats statistiques comme les moyennes.

In [ ]:
passengers_mean_age = titanic_df["Age"].mean()
print(f"Âge moyen des passager du Titanic :  {passengers_mean_age:.2f} ans")

frequent_age = titanic_df["Age"].mode()[0]
print(f"L'âge le plus fréquent est : {frequent_age} ans")

## OUT
Âge moyen des passager du Titanic :  29.70 ans
L'âge le plus fréquent est : 24.0 ans

## Filtrage des données

**Helper**
Pour filtrer les données dans Pandas, nous allons utiliser des conditions logiques basées sur la colonne Survived du DataFrame

**Exercise4**
Select uniquement les lignes où la colonne `Survived` est égale à `1` (c'est-à-dire les passagers qui ont survécu).
Select uniquement les lignes où la colonne `Survived` est égale à `0` (c'est-à-dire les passagers qui n'ont pas survécu).

**PlusPLus**
*Attention la syntaxe des structures conditionnelles*
- `titanic_df['Survived'] == 1` : Cela crée une condition qui sélectionne uniquement les lignes où la valeur dans la colonne `Survived` est 1 (survivants)
- `titanic_df['Survived'] == 0` : Cela crée une condition qui sélectionne uniquement les lignes où la valeur dans la colonne `Survived` est 0 (non-survivants)
- `titanic_df[condition]` : En plaçant cette condition entre crochets `[]`, nous demandons à Pandas de renvoyer un nouveau DataFrame contenant uniquement les lignes qui respectent cette condition.

In [ ]:
survived_df = titanic_df[titanic_df["Survived"] == 1]
non_survived_df = titanic_df[titanic_df["Survived"] == 0]

print("Passagers ayant survécu :")
print(survived_df.head())

print("\nPassagers n'ayant pas survécu :")
print(non_survived_df.head())

## OUT
```python
Passagers ayant survécu :
   PassengerId  Survived  Pclass  \
1            2         1       1   
2            3         1       3   
3            4         1       1   
8            9         1       3   
9           10         1       2   

                                                Name     Sex   Age  SibSp  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1   
2                             Heikkinen, Miss. Laina  female  26.0      0   
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1   
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0   
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1   

   Parch            Ticket     Fare Cabin Embarked  
1      0          PC 17599  71.2833   C85        C  
2      0  STON/O2. 3101282   7.9250   NaN        S  
3      0            113803  53.1000  C123        S  
8      2            347742  11.1333   NaN        S  
9      0            237736  30.0708   NaN        C  

Passagers n'ayant pas survécu :
   PassengerId  Survived  Pclass                            Name   Sex   Age  \
0            1         0       3         Braund, Mr. Owen Harris  male  22.0   
4            5         0       3        Allen, Mr. William Henry  male  35.0   
5            6         0       3                Moran, Mr. James  male   NaN   
6            7         0       1         McCarthy, Mr. Timothy J  male  54.0   
7            8         0       3  Palsson, Master. Gosta Leonard  male   2.0   

   SibSp  Parch     Ticket     Fare Cabin Embarked  
0      1      0  A/5 21171   7.2500   NaN        S  
4      0      0     373450   8.0500   NaN        S  
5      0      0     330877   8.4583   NaN        Q  
6      0      0      17463  51.8625   E46        S  
7      3      1     349909  21.0750   NaN        S  

```

## Statistiques

**Helper**
Pour analyser les statistiques des tarifs payés par les passagers, nous allons utiliser des méthodes Pandas qui permettent de calculer des statistiques courantes comme le *minimum*, le *maximum*, la *moyenne*, et la *médiane*

**Exercise5**
*Tarif minimum* : Utiliser la méthode `min()` sur la colonne `Fare` du DataFrame.
*Tarif maximum* : Utiliser la méthode `max()` sur la colonne `Fare`.
*Tarif moyen* : Utiliser la méthode `mean()` sur la colonne `Fare`.
*Tarif médian* : Utiliser la méthode `median()` sur la colonne `Fare`.

**PlusPLus**
*Néant*

In [ ]:
min_fare = titanic_df['Fare'].min()
print(f"Tarif min payé par un passager : {min_fare:.2f} $")

max_fare = titanic_df['Fare'].max()
print(f"Tarif max payé par un passager : {max_fare:.2f} $")

mean_fare = titanic_df['Fare'].mean()
print(f"Tarif moyen payé par un passager : {mean_fare:.2f} $")

median_fare = titanic_df['Fare'].median()
print(f"Tarif médian payé par un passager : {median_fare:.2f} $")

## OUT
```python 
Tarif min payé par un passager : 0.00 $
Tarif max payé par un passager : 512.33 $
Tarif moyen payé par un passager : 32.20 $
Tarif médian payé par un passager : 14.45 $
```

## Traitement des VALEURS MANQUANTES

**Helper**
Cela permet d'identifier les colonnes qui contiennent des valeurs manquantes et de prendre des décisions pour les traiter

**Exercise6**
Utiliser `pd.read_csv()` pour charger le fichier CSV à partir du lien donné. (attention : fichier raw)
Utiliser `isna()` qui permet de détecter les valeurs manquantes `(NaN)` dans le DataFrame
Utiliser `sum()` pour compter le nombre de valeurs manquantes par colonne.

**PlusPLus**
`pd.read_csv(url)` : Charge les données du fichier CSV en ligne dans un DataFrame
`sales_df.isna()` : Retourne un DataFrame de la même forme que `sales_df` avec des booléens indiquant si une valeur est manquante (`True`) ou non (`False`)
`sales_df.isna().sum()` : Compte les `True` (les valeurs manquantes) pour chaque colonne, ce qui donne le nombre de valeurs manquantes par colonne

In [ ]:
url1 = "https://raw.githubusercontent.com/ine-rmotr-curriculum/FreeCodeCamp-Pandas-Real-Life-Example/master/data/sales_data.csv"
# sales_df = pd.read_csv(url, on_bad_lines='skip')
sales_df = pd.read_csv(url1)

missing_values = sales_df.isna().sum()
print("Nombre de valeurs manquantes dans chaque colonne :")
print(missing_values)

## OUT
```python
Nombre de valeurs manquantes dans chaque colonne :
Date                0
Day                 0
Month               0
Year                0
Customer_Age        0
Age_Group           0
Customer_Gender     0
Country             0
State               0
Product_Category    0
Sub_Category        0
Product             0
Order_Quantity      0
Unit_Cost           0
Unit_Price          0
Profit              0
Cost                0
Revenue             0
dtype: int64

```

## Suppression des doublons dans mes données

**Helper**


**Exercise7**


**PlusPLus**
*Néant*

In [45]:
url = r"C:\Users\Utilisateur\Documents\Dev-IA-hebdo\Semaine2\Exo-Pandas\GlobalLandTemperaturesByMajorCity.csv"
duplicate_df = pd.read_csv(url)

print(f"Affichage de la taille dataframe AVANT suppression : {duplicate_df.shape}")

Affichage de la taille dataframe AVANT suppression : (239177, 7)